<main>
  <section class="px-2 py-4 sm:px-4 md:px-6 lg:px-8 xl:px-[5%]">
    <h1 class="text-3xl font-bold tracking-widest">Jobs</h1>
    <div class="mx-4 my-2 w-full px-4 py-2">
      @if (loading) {
        <div class="flex items-center justify-center">
          <mat-progress-spinner
            strokeWidth="4"
            diameter="50"
            class="text-xl"
            mode="indeterminate"
          />
        </div>
      } @else if (!loading && jobs.length === 0) {
        <h1 class="w-full text-center text-xl">No jobs were found.</h1>
      } @else {
        <table class="w-full rounded-md border border-slate-200 p-4 shadow-lg">
          <thead>
            <tr>
              <th>#</th>
              <th>Job ID</th>
              <th>Job Name</th>
              <th>Created By</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (job of paginatedJobs; track job.job_id; let idx = $index) {
              <tr [className]="idx % 2 === 0 ? 'bg-gray-200' : ''">
                <td class="text-center">
                  {{ currentPage * pageSize + idx + 1 }}
                </td>
                <td class="p-2 text-center">{{ job.job_id }}</td>
                <td class="p-2 text-center">{{ job.settings.name }}</td>
                <td class="p-2 text-center">{{ job.creator_user_name }}</td>
                <td class="p-2 text-center">
                  <button
                    [disabled]="deleting"
                    mat-icon-button
                    (click)="deleteJob(job.job_id)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button
                    (click)="handleJob(job.job_id)"
                    [disabled]="deleting"
                    mat-icon-button
                  >
                    @if (showJobDetails && selectedJob === job.job_id) {
                      <mat-icon>arrow_drop_up</mat-icon>
                    } @else {
                      <mat-icon>arrow_drop_down</mat-icon>
                    }
                  </button>
                </td>
              </tr>
              @if (showJobDetails && selectedJob === job.job_id) {
                <tr [className]="idx % 2 === 0 ? 'bg-gray-200' : '' + 'p-4'">
                  <td colspan="5">
                    <app-job-details [job_id]="job.job_id" />
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
        <mat-paginator
          [length]="jobs.length"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
          (page)="handlePageEvent($event)"
        />
      }
    </div>
  </section>
</main>
